body {
	height: 100%;
	background-color: #50C3AE;
	font-family: Calibri;
}

h1 {
	font-family: Arial;
	text-align: center;
	padding-bottom: 20px;
}

#bigHolder {
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#loginContentHolder {
	margin: 0 auto;
	margin-top: 50px;
}

#loginInput {
	margin-left: 3%;
}

#firstName {
	width: 45%;
	height: 40px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	padding-left: 10px
}

#lastName {
	width: 45%;
	height: 40px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin-left: 10px;
	padding-left: 10px
}

#submitButtonHolder {
	text-align: center;
}

#submitButton {
	width: 25%;
	height: 40px;
	font-family: Arial;
	font-weight: 500;
	font-size: 14px;
	color: white;
	background-color: #F76541;
	border: 1px solid #F76541;
	border-radius: 5px;
	margin-top: 25px;
}

#outerAdmin {
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#outerAdmin h2 {
	margin-top: 40px;
	text-align: center;
}

#outerAdmin input {
	margin-left: 20px;
}

#matchButtonHolder {
	text-align: center;
}

#matchButton {
	width: 25%;
	height: 40px;
	font-family: Arial;
	font-weight: 500;
	font-size: 14px;
	color: white;
	background-color: #F76541;
	border: 1px solid #F76541;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 45px;
}

#outerProfileBox {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
}

#profileBox {
	height: 400px;
	width: 500px;
	overflow: scroll;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#profileName p {
	font-size: 30px;
	font-weight: 600;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#cohortSelector {
	margin-left: 20px;
}

#surveyQuestionBox {
	margin-left: 20px;
}

#surveyQuestionBox p {
	font-weight: 600;
}

#profileSubmitButton {
	width: 25%;
	height: 40px;
	font-family: Arial;
	font-weight: 500;
	font-size: 14px;
	color: white;
	background-color: #F76541;
	border: 1px solid #F76541;
	border-radius: 5px;
	position: absolute;
	right: 0;
	margin-top: 8px;
}

.question:last-of-type {
	padding-bottom: 20px;
}

#outerNoMatch {
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#profileSubButtonHolder {
	text-align: center;
}

#ajaxSubmitButton {
	height: 40px;
	font-family: Arial;
	font-weight: 500;
	font-size: 14px;
	color: white;
	background-color: #F76541;
	border: 1px solid #F76541;
	border-radius: 5px;
	margin-top: 25px;
}

#outerNoMatch h2 {
	text-align: center;
	margin-top: 30px;
}

#outerMatch {
	position: absolute;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	background-color: #EEEEEE;
}

#outerMatch h3 {
	
}